<h4>Internal Server Error - try refreshing</h4>
<ng-container *ngIf="error">
  <h5 class="text-danger">Error: {{ error.message }}</h5>
  <p class="font-weight-bold">Angular did nothing wrong</p>
  <p>What to do next?</p>
  <ol>
    <li>Open the chrome dev tools</li>
    <li>Inspect network tab</li>
    <li>Check failing request</li>
    <li>Examine request URL</li>
    <li>Test error in Postman</li>
  </ol>
  <p>Following is the stack trace</p>
  <code class="mt-5">{{ error.details }}</code>
</ng-container>
